<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.optimusgreen.s2m</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/bernard/scripts/python_scripts/system2mqtt/run.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>