COMPUTER_NAME=MyTestComputer1                   # Required: 

##### UNCOMMENT ANY BELOW OPTIONS AS REQUIRED

#LOG_DIR=path/to/my/logs                         ### Optional: default: ./logs
#LOG_FILENAME=system2mqtt.log                    ### Optional: default: system2mqtt.log 
#OLD_LOG_FILENAME=old_system2mqtt.log            ### Optional: default: old_system2mqtt.log 
#DEBUG_LOG=True                                  ### Optional: default: False

#PUBLISH_PERIOD=60                               ### Optional: default: 60 (seconds)
#MQTT_BASE_TOPIC=system2mqtt/MyTestComputer1     ### Optional: default: system2mqtt/<COMPUTER_NAME>
#MQTT_HOST=192.168.0.14                          ### Optional: default: localhost
#MQTT_USER=myusername                            ### Optional: default: None
#MQTT_PASSWORD=mypassword                        ### Optional: default: None

#PROCPATH=/path/to/proc                          ### Optional: default: /proc (linux only, in case /proc is somewhere else)

#ARGONFAN=True                                   ### Optional: default: False (Get fan speed from pi argon case)

#STORAGE_INCLUDE=["sysroot", "myexternaldrive"]  ### Optional: default: False (MUST be a list. include will always be used over exclude)
#STORAGE_EXCLUDE=["idontwantthisdriveincluded"]  ### Optional: default: False (MUST be a list. will be ignored if include is used)

##### Proxmox
#PVE_SYSTEM=False                                ### Optional: default: False (Set to true if computer is running proxmox)

##### Below options are required if PVE_SYSTEM is set to true
#PVE_NODE_NAME=pve                               ### Default: pve                            
#PVE_HOST=192.168.0.7                            ### Default: localhost
#PVE_USER=root@pam                               ### Default: root@pam
#PVE_PASSWORD=mysooperdoopersecretpassword123

# Mqtt triggered callbacks/functions
#USER_CALLBACKS=True                              ### Optional: default: False (place your functions in the user_callbacks.py file)
#CALLBACKS={'system2mqtt/MyTestComputer1/callbacks/testcb1': 'cb1', 'system2mqtt/MyTestComputer1/callbacks/testcb2': 'cb2', 'system2mqtt/MyTestComputer1/callbacks/testcb3': 'cb3'} # string dictionary in the form {'fullTopic': 'functionFromUserCallbacksFile'}

##### Home Assistant Discovery
# <discovery_prefix>/<component>/[<node_id>/]<object_id>/config
#HA_DISCOVERY=True                                ### Optional: default: False (Set to true for home assistant mqtt discovery)
#HA_DISCOVERY_BASE=homeassistant                  ### Optional: default: homeassistant

###### rename or copy this file (to be called) s2m.conf or pass its path as an argument when calling run.py
#### example: python3 system2mqtt/run.py path/to/my/s2m.conf (some info may only be available if run with elevated privileges)