[Unit]
Description=System2Mqtt Service
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=john
Restart=on-failure
RestartSec=2s
ExecStart=python3 /home/john/system2mqtt/run.py

[Install]
WantedBy=multi-user.target