[Unit]
Description=System2Mqtt Service
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
User=bernard
Restart=on-failure
RestartSec=2s

ExecStart=/usr/bin/python3 /home/bernard/scripts/python_scripts/system2mqtt/run.py

[Install]
WantedBy=multi-user.target